$primary-color: rgba(54, 0, 69, 0.666);
$dark-color: rgb(255, 190, 106);
$light-color: rgb(255, 255, 249);
$danger-color: rgb(255, 56, 56);
$success-color: rgb(0, 211, 0);
$warning-color: rgb(255, 211, 0);
$max-width: 1100px;